*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p{
    font-size: 14px;
}

/*======================Generic css =============*/
.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
}

.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight:400;
    text-transform: uppercase;
}

.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left:50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}

.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

/* =====================Navition==================*/
.navbar-default {
    background-color: transparent;
    border-color: #444;
    z-index: 110;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.navbar-default .navbar-nav > li > a {
    color: #B5B5B5;
    font-family: "Raleway", sans-serif;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #129CF3;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}

.navbar-brand {
    padding: 9px 15px;
}

.navbar-brand img {
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.navbar-default .navbar-nav > .active>a,
.navbar-default .navbar-nav > .active>a:hover;
.navbar-default .navbar-nav > .active>a:focus {
    background-color: transparent;
    color:#129CF3;
}


/*=====================header ============================*/

.header {
    /*background-image: url("../images/header-bg-image.png");*/
    background-color: #129cf3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.header-overlay {
    background-color: rgba(31,21,21,0.75);
}

.logo {
    padding-bottom: 50px;
}

.header-text-left h1 {
    color:#fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
    text-align: left;
}
.header-text-right h1 {
    color:#fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
    text-align: right;
}

.header-text-center h1 {
    color:#fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;
}

.header-text-left p
{
    color:#fff;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    
}

.header-text-center p
{
    color:#fff;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    padding-left: 230px;
}


/*=================About Us=============
.about-us {
    //background-color: #dbdbdb;
}*/

.about-us-story {
    padding-bottom: 50px;
}

.about-us-story p {
    margin-top: 20px;
    font-size: 19px;
    line-height: 24px;
}

.about-proffesionals {
    margin-top: 100px;
    margin-left: 150px;
}

/*======================Services ==============*/

/*.services {
    background-color: #dbdbdb;
}*/

.service-inner-wrapper {
    padding-top: 30px;
    padding-bottom: 70px
}

.left-services-item {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}

.left-services-item-icon {
    position: absolute;
    font-size: 40px;
    color: #129CF3;
    right: 0;
    top: -8px;
    width: 90px;
    height: 90px;
    text-align: center;
}

.left-services-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
}

.left-services-item p {
    color:#333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.right-services-item {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    text-align: left;
    margin-top: 35px;
}


.rignt-services-item-icon {
    position: absolute;
    font-size: 40px;
    color: #129CF3;
    left: 0;
    top: -8px;
    width: 90px;
    height: 90px;
    text-align: center; 
}

.right-services-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
}

.right-services-item p {
    color:#333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.btn-apply {
background-color: #129CF3;
    color: #fff;
    border-color: #129CF3;
    
}

.btn-apply,
.btn-apply:active,
.btn-apply:focus,
.btn-apply:visited{
   background-color: #129CF3;
    color: #fff;
    border-color: #129CF3;
}
/*=========================Contact Us ==================*/

.contact-us-form .form-control {
    display:block;
    width:100%;
    height:50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    outline:0px !important;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}

#message {
    height: 117px;
    resize: none;
    
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited{
    background-color: transparent;
    border: 1px solid #129CF3;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #129CF3;
    outline:0px !important;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}

.submit-btn:hover {
    background-color: #129CF3;
    color: #fff;
    border-color: #129CF3;
}

.social-icons {
    padding-top: 50px;
    padding-bottom: 50px;
}

.social-icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-icons ul li{
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height:45px;
    line-height: 49px;
    color:#9d9d9d;
}

.social-icons ul li a:hover {
    background-color: #129CF3;
    border: #129CF3;
    color:#fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}

.social-icons ul li a i{
    font-size: 20px;
}


/*==============Footer ================*/

.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #127CF3;
}

#copyright {
    width: 50%;
}

#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    width:100%;
}

#copyright p a {
    text-decoration: none;
    color: #129CF3;
}

.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color: #129CF3;
    padding: 25px;
}

.scroll-top a i {
    color: #fff;
    font-size: 25px;
    
}
